{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="{% static 'buscaprest/css/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	 <div class="jumbotron">
      <div class="container">
            <div class="page-header">
                <h1>Oficinas
                    <span class="pull-right">
                        <a href="{% url 'buscaprest:prestadores_add' %}">
                            <button type="button" class="btn btn-primary">
                                <span class="fa fa-plus"></span>Adicionar
                            </button>
                        </a>
                    </span>
                </h1>


                <form method="GET" id="search-form">
                    <label for="busca">Categoria</label>
                    <input type="search" id="#" name="search1">
                    <button type="submit">&#128269;</button>

                    <label for="busca">Cidade</label>
                    <input type="search" id="busca" name="search2">
                    <button type="submit">&#128269;</button>
                </form>

                <div class="container"></div>

                {% if object_list %}
                    <table class="table-striped">
                        <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Prestador</th>
                            <th>Endereço</th>
                            <th>Bairro</th>
                            <th>CEP</th>
                            <th>Cidadde</th>
                            <th>Telefone</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{object.categoria}}</td>
                                <td>
                                    <a href="{{ object.get_absolute_url }}">{{object.prestador}}</a>
                                </td>
                                <td>{{object.endereco}}</td>
                                <td>{{object.bairro}}</td>
                                <td>{{object.cep}}</td>
                                <td>{{object.cidade}}</td>
                                <td>{{object.telefone2}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="alert alert-warning">Esta categoria não existe na lista ou foi digitada incorretamente!</p>
                {% endif %}
              </div>
          </div>
         {% include "includes/pagination.html" %}
     </div>
</body>

{% endblock %}