{% extends "base.html" %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<link rel="stylesheet" type="text/css"  href="{% static 'buscaprest/css/style.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	 <div class="jumbotron">
      <div class="container">
            <div class="page-header">
                <h1>Rastreadores
                    <span class="pull-right">
                        <a href="{% url 'clientes:clientes_add' %}">
                            <button type="button" class="btn btn-primary">
                                <span class="fa fa-plus"></span>Adicionar
                            </button>
                        </a>
                    </span>
                </h1>

               <form method="GET" id="search-form">
                    <label for="busca">Placa</label>
                    <input type="search" id="#" name="search">
                    <button type="submit">&#128269;</button>

                    <label for="busca">Nr. Rastreador</label>
                    <input type="search" id="busca" name="search2">
                    <button type="submit">&#128269;</button>
                </form>
                <div class="container"></div>

                {% if obj %}
                    <table class="table-striped">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Telefone</th>
                            <th>Veiculo</th>
                            <th>Rastreadores</th>
                            <th>Retirado</th>
                            <th>Instalado</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for object in obj %}
                            <tr>
                                <td>
                                    <a href="{{ object.get_absolute_url }}">{{object.nome}}</a>
                                </td>
                                <td>{{object.endereco}}</td>
                                <td>{{object.telefone01}}</td>
                                <td>{{object.veiculo}}</td>
                                <td>{{object.rastreador}}</td>
                                <td>{{object.retirado}}</td>
                                <td>{{object.instalado}}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="alert alert-warning">Esta Cliente não existe na lista ou foi digitado incorretamente!</p>
                {% endif %}
              </div>
          </div>
     </div>
        {% include "includes/pagination.html" %}
</body>

{% endblock %}